.App {
  margin: 15%;
}

.GameGridRow {
  display: flex;
}

.GameGridRow > div {
  min-width: 40px;
  min-height: 40px;
  background-color: aqua;
  border: 0.1px solid;
}

.GameGridRow > div.Player {
  background-color: aqua;
}

.GameGridRow > div.Player > img {
  position: absolute;
  height: 35px;
  padding-left: 0.5%;
  padding-top: 0.1%;
}
